<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    {% load static %}
    <!--link rel="stylesheet" href="{% static 'css/style.css' %}"-->
    <!--link rel="stylesheet" href="{% static 'css/table.css' %}"-->
    <!--link rel="stylesheet" href="{% static 'css/table.css' %}"-->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
    <!--link rel="stylesheet" href="{% static 'css/index.css' %}"-->
    <link rel="stylesheet" href="{% static 'css/chart.css' %}" />
    {% include 'index.html' %} {% block i %} {% endblock %}
  </body>
</html>
