.graphique {
  margin: 60px 0;
}
.graphique-temp {
  position: relative;
  width: 60%;
  height: 50%;
  margin-bottom: 50px;
}
.graphique-hum {
  width: 60%;
  height: 50%;
}
.navb {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 50px;
}

.navb button {
  text-decoration: none;
  color: #2f7eb2;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 15px 30px;
  border-radius: 5px;
  border: 2px solid #2f7eb2;
  background: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navb button:hover {
  background-color: #2f7eb2;
  color: #fff;
}

.graphique_container {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-evenly;
}
